.doctor-map {
  height: 500px;
}

.antler-logo {
  position: absolute;
  left: -12.5px;
  top: -12.5px;
  z-index: 1;
}

.marker {
  position: absolute;
  left: -10px;
  top: -30px;
  cursor: pointer;
  @include transition(all 0.25s ease-in-out);

  &.active,
  &:hover {
    transform: scale(1.2);

    path {
      fill: $red;
    }
  }
}
