.doctors-details {
  margin-bottom: 0;

  .doctor-details-card {
    position: relative;

    a,
    .edit-toggle {
      display: inline-block;
      color: $blue;
      margin-right: 10px;
      @include transition(color 0.25s ease-in-out);
      cursor: pointer;

      &:hover {
        color: $red;
      }
    }

    label {
      font-size: 1em;
    }

    .coverage {
      text-transform: uppercase;

      label {
        text-transform: none;
        font-size: 1em;
        margin-right: 10px;
      }
    }

    &.hidden {
      max-height: 0;
      overflow: hidden;
      border: 0px solid rgba(78,0,255,0);
      @include transition(all 0.4s ease-out);
    }

    &.shown {
      max-height: 1000px;
      border: 2px solid $blue;
      padding: 15px 10px !important;
      margin-top: 20px;
      @include transition(all 0.4s ease-out);
    }

    .close {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 12px;
      right: 10px;
      cursor: pointer;


      .line1,
      .line2 {
        width: 30px;
        height: 2px;
        background-color: $blue;
      }

      .line1 {
        transform: rotate(45deg) translate(11px, 11px);
      }

      .line2 {
        transform: rotate(135deg) translate(9px, -9px);
      }
    }
  }
}
