.upvote {

  .current-upvotes {
    margin: 10px 0;

    .thumbs-up {
      margin-right: 10px;
      vertical-align: middle;
    }

    .upvote-num {
      display: inline-block;
      color: $blue;
      vertical-align: bottom;
      font-size: 16px;
    }

  }

  a {
    font-size: 16px;

    &.disable {
      pointer-events: none;
      cursor: default;
      color: #9e9e9e;

      i {
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }
}
