.header-filter {
  margin-top: 0;

  .clear-filters {
    visibility: hidden;
    margin-top: 1rem;
    text-align: right;
    padding-top: 18px !important;
    color: $blue;
    @include transition(color 0.25s ease-in-out);

    &.visible {
      visibility: visible;
    }

    &:hover {
      color: $red;
    }
  }
}
