#form-header {
  cursor: pointer;
  border: 2px solid $blue;
  padding: 10px;
  text-align: center;
  transition: border-color 0.25s ease-in-out;

  &:hover {
    border-color: $red;
  }
}

form {

  .cancel {
    margin-right: 20px;
  }

  .input_field {
    margin-top: 1rem;
  }

  .health-coverage {

    h6 {
      margin-top: 0;
    }

    [type="radio"]:not(:checked) + label,
    [type="radio"]:checked + label {
      padding-left: 30px;
      padding-right: 20px;
    }

    [type="radio"]:checked + label:after {
      border-color: $blue;
      background-color: $blue;
    }

    .medical {
      margin-bottom: 0;
    }

    .dental {
      display: none;
      margin-bottom: 0;
    }

    .vision {
      display: none;
      margin-bottom: 0;
    }
  }
}

.edit-form {
  margin-bottom: 0;

  .edit-doctor {

    form {

      &.hidden {
        max-height: 0;
        overflow: hidden;
        @include transition(all 0.4s ease-out);
      }

      &.shown {
        max-height: 1000px;
        @include transition(all 0.4s ease-out);
      }
    }
  }
}

.add-doctor {

  form {
    display: none;
  }
}
