#form-header {
  cursor: pointer;
  border: 2px solid $blue;
  padding: 10px;
  text-align: center;
  transition: border-color 0.25s ease-in-out;

  &:hover {
    border-color: $red;
  }
}

form {
  display: none;

  .input_field {
    margin-top: 1rem;
  }

  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    padding-left: 30px;
    padding-right: 20px;
  }

  [type="radio"]:checked + label:after {
    border-color: $blue;
    background-color: $blue;
  }

  .health-coverage {

    .dental {
      display: none;
    }

    .vision {
      display: none;
    }
  }
}

.edit-doctor {

  form {

    .cancel {
      margin-right: 20px;
    }
  }
}
