@import 'materialize';
@import './includes/fonts';
@import './includes/variables';
@import './includes/header';
@import './includes/hero';
@import './includes/dropdown';
@import './includes/form';
@import './includes/doctor-details';
@import './includes/doctor-map';
@import './includes/doctor-card';
@import './includes/doctors-list';
@import './includes/upvote';
@import './includes/filters';

body {
  font-family: 'Sailec';
  font-weight: 500;
  
  .btn {
    background-color: $blue;
    opacity: 1;
    @include transition(all 0.25s ease-in-out);

    &:hover {
      background-color: $blue;
      opacity: 0.9;
    }
  }
}
