@import 'materialize';
@import './includes/variables';
@import './includes/dropdown';
@import './includes/form';
@import './includes/doctor-details';
@import './includes/doctor-map';
@import './includes/doctor-card';
@import './includes/doctors-list';

.head {
  background-color: $blue;
  color: white;
}

.btn {
  background-color: $blue;
  opacity: 1;
  @include transition(all 0.25s ease-in-out);

  &:hover {
    background-color: $blue;
    opacity: 0.9;
  }
}
