#form-header {
  cursor: pointer;
  border: 2px solid rgba(78,0,255,1);
  padding: 10px;
  text-align: center;
  transition: transform 0.25s ease-in-out;

  &:hover {
    transform: scale(1.01);
  }
}

form {
  display: none;

  .input_field {
    margin-top: 1rem;
  }
}
